* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #D9D9D9;
    font-size: 1.6rem;
}

input {
    padding: 5px;
    width: 220px;
    border: none;
}

#search-menu{
    display: flex;
}

button {
    height: 26px;
    width: 30px;
    cursor: pointer;
}

#search-btn {
    border: none;
    background: url(images/search.png)  no-repeat center;
    background-color: yellow;
}

header {
    background-color: rgb(3, 9, 44);
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 82vw;
}

header a {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: flex-end;
    font-size: 52px;
}

header a p {
    margin-left: 15px;
    color: white;
}

#page-selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    padding: 20px 0px;
}

main {
    display: flex;
    justify-content: center;
}

main div {
    display: flex;
    flex-direction: column;
}

#movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.filme {
    width: 250px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filme:hover {
    background-color: rgb(3, 9, 44);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filme.extended {
    height: 480px;
    padding-bottom: 0px;
}

.title {
    text-align: center;
    font-size: 18px;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(3, 9, 44);
    color: white;
}